<%= body_class 'review-purchase-page' %>
<div class="subheader"></div>

<section class="container">
  <div class="review-purchase">
    <h3>Please review your purchase</h3>
    <div class="piece">
      <div>
        <div class="info">
          <div class="preview">
            <%= template_preview(@purchase.template) %>
          </div>
          <div class="details">
            <ul>
              <li><strong>Wix user email:</strong> <%= @purchase.email %></li>
              <li><strong>Template name:</strong> <%= @purchase.template.name %></li>
              <li><strong>Price:</strong> <%= price_tag(@purchase.template.price) %></li>
            </ul>
            <% payment_service_for @purchase.id, Settings.paypal.account,
                    :amount => @purchase.template.price, :currency => 'USD',
                    :service => :paypal do |service|

              service.customer :email => @purchase.email

              service.item_name @purchase.template.name

              # PayPal will POST a callback here when the payment is done
              service.notify_url notifications_url
              # PayPal will take your user here with a POST after he pays
              service.return_url return_notification_url(@purchase)
              # PayPal will redirect your user here if he cancels the payment
              service.cancel_return_url cancel_notification_url(@purchase) %>
              <input type="submit" value="Buy Now" class="action"/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
