<!DOCTYPE html>
<html>
<head>
  <title>My Wix Templates Store</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "http://mimas.wixpress.com:8585/faye.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>
  <div id="banner">
    <a href="https://github.com/wix/template-store-example">Fork me on GitHub</a>
  </div>
  <img style="position: absolute; top: 0; left: 149px; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

<%= render 'shared/navbar' %>

<div class="container">
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

  <%= yield %>
</div>


</body>
</html>
